<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Secao07"
            aria-expanded="true" aria-controls="Secao07">
            {{title}}
        </button>
    </h2>
    <div id="Secao07" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionAulas">
        <div class="accordion-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- Inico do corpo que contém os componentes-->

                        <!--
    <div class="accordion-item">
        <h2 class="accordion-header" id="Secao06_aula_XX_item">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#Secao06_aula_XX_Body" aria-expanded="true" aria-controls="Secao06_aula_XX_Body">
                xxxxxxx
            </button>
        </h2>
        <div id="Secao06_aula_XX_Body" class="accordion-collapse collapse show" aria-labelledby="Secao06_aula_XX_item"
            data-bs-parent="#Secao06_aulas">
            <div class="accordion-body">
                <div class="mt-2">
                    <div class="card">
                        <div class="card-header text-center">
                            <strong> XXXXXXXXX </strong>
                        </div>
                        <div class="card-body">

                          

                            <h5 class="card-title">xxxxxxxxxxxxx</h5>
                            
                           
                            <hr/>
                         

                            <p class="card-text"> </p>
                        </div>
                        <div class="card-footer">
                            <p>Caminho componente: <strong>{{CaminhoComponente}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

-->

                    

                    <!-- Fim do corpo que contém os componentes-->

                </div>


            </div>
        </div>
    </div>
</div>
