<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Secao06"
            aria-expanded="true" aria-controls="Secao06">
            {{title}}
        </button>
    </h2>
    <div id="Secao06" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionAulas">
        <div class="accordion-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- Inico do corpo que contém os componentes-->


                    <app-template-binding />
                    <app-template-variables/>

                    

                    <!-- Fim do corpo que contém os componentes-->

                </div>


            </div>
        </div>
    </div>
</div>