<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Secao06"
            aria-expanded="true" aria-controls="Secao06">
            {{title}}
        </button>
    </h2>
    <div id="Secao06" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionAulas">
        <div class="accordion-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- Inico do corpo que contém os componentes-->




                    <div class="accordion" id="Secao06_aulas">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="Secao06_aula_22_item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#Secao06_aula_22_Body" aria-expanded="false"
                                    aria-controls="Secao06_aula_22_Body">
                                    Aula 22. Text Interpolation / 23. Property binding
                                </button>
                            </h2>
                            <div id="Secao06_aula_22_Body" class="accordion-collapse collapse"
                                aria-labelledby="Secao06_aula_22_item" data-bs-parent="#Secao06_aulas">
                                <div class="accordion-body">
                                    <app-template-binding />
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <h2 class="accordion-header" id="Secao06_aula_23_item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#Secao06_aula_23_Body" aria-expanded="false"
                                    aria-controls="Secao06_aula_23_Body">
                                    Aula 23. Text Interpolation
                                </button>
                            </h2>
                            <div id="Secao06_aula_23_Body" class="accordion-collapse collapse"
                                aria-labelledby="Secao06_aula_23_item" data-bs-parent="#Secao06_aulas">
                                <div class="accordion-body">
                                    <app-template-binding />
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="Secao06_aula_24_item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#Secao06_aula_24_Body" aria-expanded="false"
                                    aria-controls="Secao06_aula_24_Body">
                                    Aula 24. Text Interpolation
                                </button>
                            </h2>
                            <div id="Secao06_aula_24_Body" class="accordion-collapse collapse"
                                aria-labelledby="Secao06_aula_24_item" data-bs-parent="#Secao06_aulas">
                                <div class="accordion-body">
                                    <app-template-binding />
                                </div>
                            </div>
                        </div>




                    </div>

                    <!-- Fim do corpo que contém os componentes-->

                </div>


            </div>
        </div>
    </div>
</div>