<div class="accordion-item">
    <h2 class="accordion-header" id="Secao07_aula_31_item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#Secao07_aula_31_Body" aria-expanded="true" aria-controls="Secao07_aula_31_Body">
            {{'Aula 31. @IF'}}
        </button>
    </h2>
    <div id="Secao07_aula_31_Body" class="accordion-collapse collapse" aria-labelledby="Secao07_aula_31_item"
        data-bs-parent="#Secao07_aulas">
        <div class="accordion-body">
            <div class="mt-2">
                <div class="card">
                    <div class="card-header text-center">
                        <strong> {{'@IF'}} </strong>
                    </div>
                    <div class="card-body">
                        <button (click)="FUN_AlterarValorBooleno()" class="btn "
                            [ngClass]="{'btn-success':bl_isTrue,'btn-danger':!bl_isTrue}">
                            {{bl_isTrue?'Valor verdadeiro':'Valor Falso'}} mó gambiarra para podermos fazer isso
                            funcionar
                        </button>


                        <hr />

                        <h5 class="card-title">Versão mais atual do Angular</h5>

                        <p>Na versão mais nova do angula é necessário apenas colocar um <mark>{{'@if(Condicao booleana)
                                { } @else { }'}}</mark>, bem parecido com MVC</p>
                        @if (bl_isTrue) {
                        <div class="alert alert-success" role="alert">
                            O valor da variavel bl_isTrue = <strong>{{bl_isTrue}}</strong>
                        </div>
                        }
                        @else {
                        <div class="alert alert-danger" role="alert">
                            O valor da variavel bl_isTrue = <strong>{{bl_isTrue}}</strong>
                        </div>
                        }

                        <hr />


                        <h5 class="card-title">Versão mais antiga do Angular</h5>
                        <p> Nas versões mais antigas é necessário adicionar no elemento alvo a notação
                            {{'*ngIf="Condicao Booleana"'}}, ou utilizar um <mark>ng-container</mark> com um
                            <mark>ng-template</mark>
                        </p>
                        <p>Como o código é extenso ver direto no HTML</p>
                        <ng-container *ngIf="bl_isTrue; else isFalse">
                            <div class="alert alert-success" role="alert" *ngIf="bl_isTrue">
                                <p>Usando o ng-container</p>
                                <p>O valor da variavel bl_isTrue = <strong>{{bl_isTrue}}</strong></p>
                            </div>
                        </ng-container>
                        <ng-template #isFalse>

                            <div class="alert alert-danger" role="alert" *ngIf="!bl_isTrue">
                                <p>Usando o ng-template</p>
                                <p>O valor da variavel bl_isTrue = <strong>{{bl_isTrue}}</strong></p>
                            </div>
                        </ng-template>
                        <div class="alert alert-success" role="alert" *ngIf="bl_isTrue">
                            <p>Direto no elemento HTML</p>
                            O valor da variavel bl_isTrue = <strong>{{bl_isTrue}}</strong>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="!bl_isTrue">
                            <p>Direto no elemento HTML</p>
                            O valor da variavel bl_isTrue = <strong>{{bl_isTrue}}</strong>
                        </div>

                        <p class="card-text"> </p>
                    </div>
                    <div class="card-footer">
                        <p>Caminho componente: <strong>{{CaminhoComponente}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="Secao07_aula_32_item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#Secao07_aula_32_Body" aria-expanded="true" aria-controls="Secao07_aula_32_Body">
            {{'32. @For'}}
        </button>
    </h2>
    <div id="Secao07_aula_32_Body" class="accordion-collapse collapse" aria-labelledby="Secao07_aula_32_item"
        data-bs-parent="#Secao07_aulas">
        <div class="accordion-body">
            <div class="mt-2">
                <div class="card">
                    <div class="card-header text-center">
                        <strong> {{'@for'}} </strong>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning" role="alert">
                            Nessa aula foi apresentado alguns itens extra que acompanharam o for durante a aula:
                            <table class="table table-bordered table-warning">
                                <thead>
                                    <tr class="text-center bg-warning">
                                        <th>Código</th>
                                        <th>Explicação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-warning">
                                        <td>{{aula32_Array}}</td>
                                        <td>Gera os dado que serão carregados na tela com um delay</td>
                                    </tr>

                                </tbody>
                            </table>

                            <ul>
                                <li>
                                    <strong>public loadingData$: Observable&lt;string[]&gt;</strong>
                                    <ul>
                                        <li>Declara uma propriedade pública chamada <code>loadingData$</code> do tipo
                                            <code>Observable</code> contendo um array de strings.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>= of(['item 1','item 2','item 3'])</strong>
                                    <ul>
                                        <li>Cria um Observable que emite um array de strings contendo
                                            <code>['item 1','item 2','item 3']</code>.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>.pipe(delay(3000))</strong>
                                    <ul>
                                        <li>Aplica um operador <code>pipe</code> ao Observable para adicionar um atraso
                                            de 3000 milissegundos (3 segundos) antes de emitir os valores.</li>
                                    </ul>
                                </li>
                            </ul>

                        </div>



                        <h5 class="card-title">forma Nova</h5>
                        <p>Usando com um {{'@if'}} para poder verificar se o item já esta na tela, caso contrario vai
                            exibir o carregando</p>
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Linha</th>
                                        <th>Código</th>
                                        <th>Explicação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>{{'@if (loadingData$ | async; as data)'}}</td>
                                        <td>Verifica se <code>loadingData$</code> está carregando. Se sim, armazena os
                                            dados em <code>data</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>{{Aula32_teste}}</td>
                                        <td>Exibe os dados carregados dentro de um parágrafo.</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>{{'@for(item of data; track item)'}}</td>
                                        <td>Itera sobre cada <code>item</code> em <code>data</code> e mantém o
                                            rastreamento do item para otimização.</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>{{Aula32_teste2}}</td>
                                        <td>Exibe cada <code>item</code> dentro de uma lista não ordenada.</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>{{'@else'}}</td>
                                        <td>Parte do código que será executada se <code>loadingData$</code> não estiver
                                            carregado.</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>&lt;div class="spinner-border text-primary" role="status"&gt;&lt;/div&gt;
                                        </td>
                                        <td>Exibe um spinner de carregamento enquanto os dados estão sendo carregados.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>&lt;span class="sr-only"&gt;Carregando...&lt;/span&gt;</td>
                                        <td>Texto acessível para leitores de tela indicando que o conteúdo está
                                            carregando.</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        @if (loadingData$ | async; as data) {
                        <p>{{data}}</p>
                        @for(item of data; track item)
                        {
                        <li>{{item}}</li>
                        }
                        }
                        @else
                        {
                        <div class="spinner-border text-primary" role="status"></div>
                        <span class="sr-only">Carregando...</span>
                        }

                        <p>Sem o {{'IF'}} para poder validar se o item já carregou na tela </p>

                        @for(item of loadingData$ | async; track item)
                        {
                        <li>{{item}}</li>
                        }




                        <hr />
                        <h5 class="card-title">forma Antiga</h5>

                        <ng-container *ngIf="loadingData$ | async as data; else loading">
                            <p>{{data}}</p>

                            <ul>
                                <ng-container *ngFor="let item of data; trackBy: FUN_TrackByFn">
                                    <li>{{item}}</li>
                                </ng-container>
                            </ul>
                        </ng-container>
                        <ng-template #loading>
                            <div class="spinner-border text-success" role="status"></div>
                            <span class="sr-only">Carregando Forma antiga</span>
                        </ng-template>


                        <div style="overflow: auto; width: 100%; height: 400px;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Linha</th>
                                        <th>Código</th>
                                        <th>Explicação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>{{aula32_FormaAntigaTrecho01}}</td>
                                        <td>Verifica se <code>loadingData$</code> está carregando. Se sim, armazena os
                                            dados em <code>data</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>{{Aula32_teste}}</td>
                                        <td>Exibe os dados carregados dentro de um parágrafo.</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>&lt;ul&gt;</td>
                                        <td>Inicia uma lista não ordenada para exibir os itens.</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>{{aula32_FormaAntigaTrecho02}}</td>
                                        <td>Itera sobre cada <code>item</code> em <code>data</code>, rastreando por uma
                                            função <code>trackBy</code> chamada <code>FUN_TrackByFn</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>{{Aula32_teste2}}</td>
                                        <td>Exibe cada <code>item</code> dentro de um item de lista.</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>{{el_SinalMenorBarra}}ng-container&gt; {{''}}</td>
                                        <td>Fecha o <code>ng-container</code> de iteração.</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>&lt;/ul&gt;</td>
                                        <td>Fecha a lista não ordenada.</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>&lt;/ng-container&gt;</td>
                                        <td>Fecha o <code>ng-container</code> que verifica o carregamento de dados.</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>&lt;ng-template #loading&gt;</td>
                                        <td>Define um template de fallback que será exibido quando os dados estiverem
                                            carregando.</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>&lt;div class="spinner-border text-success" role="status"&gt;&lt;/div&gt;
                                        </td>
                                        <td>Exibe um spinner de carregamento enquanto os dados estão sendo carregados.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>&lt;span class="sr-only"&gt;Carregando Forma antiga&lt;/span&gt;</td>
                                        <td>Texto acessível para leitores de tela indicando que o conteúdo está
                                            carregando.</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>&lt;/ng-template&gt;</td>
                                        <td>Fecha o <code>ng-template</code> do carregamento.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>



                        <p class="card-text"> </p>
                    </div>
                    <div class="card-footer">
                        <p>Caminho componente: <strong>{{CaminhoComponente}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="Secao07_aula_33_item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#Secao07_aula_33_Body" aria-expanded="true" aria-controls="Secao07_aula_33_Body">
            {{'Aula 33. @For e seus valores'}}
        </button>
    </h2>
    <div id="Secao07_aula_33_Body" class="accordion-collapse collapse" aria-labelledby="Secao07_aula_33_item"
        data-bs-parent="#Secao07_aulas">
        <div class="accordion-body">
            <div class="mt-2">
                <div class="card">
                    <div class="card-header text-center">
                        <strong> Dados que podemos extrair em um for de uma lista </strong>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary" (click)="FUN_VisualizarNovo()"
                            type="button">{{aula33_bl_exibirExplicacaoNovo?'Ocultar explicacao novo':'Exibir explicacao
                            Novo'}}</button>
                        &nbsp;&nbsp;
                        <button class="btn btn-primary" (click)="FUN_VisualizarAntigo()"
                            type="button">{{aula33_bl_exibirExplicacaoAntigo?'Ocultar explicacao Antigo':'Exibir
                            explicacao Antigo'}}</button>

                        <p *ngIf="aula33_bl_exibirExplicacaoNovo || aula33_bl_exibirExplicacaoAntigo">Uma das maiores
                            diferencas entre o Angular na versao antiga e da nova é usar $ antes das propriedades
                            default</p>

                        <div class="container mt-2" *ngIf="aula33_bl_exibirExplicacaoNovo">

                            <p>Este exemplo mostra como usar a diretiva <code>*ngFor</code> do Angular para iterar sobre
                                uma lista de itens. O trecho de código contém várias variáveis de contexto que fornecem
                                informações sobre o loop.</p>


                            <pre>
                                <code>
                                    {{'@for (item of items; track item.name;'}}
                                        let i = $index;
                                        let c = $count;
                                        let f = $first;
                                        let l = $last;
                                        let e = $even;
                                        let o = $odd;
                                </code>
                            </pre>

                            <h2>Explicação das Variáveis de Contexto</h2>
                            <ul>
                                <li><strong>item of items</strong>: Itera sobre a lista de itens.</li>
                                <li><strong>track item.name</strong>: Usa a propriedade <code>name</code> de cada item
                                    para otimizar o rastreamento de itens no loop.</li>
                                <li><strong>let i = $index</strong>: Armazena o índice atual do loop na variável
                                    <code>i</code>.
                                </li>
                                <li><strong>let c = $count</strong>: Armazena o número total de itens na variável
                                    <code>c</code>.
                                </li>
                                <li><strong>let f = $first</strong>: Armazena um valor booleano que é <code>true</code>
                                    se o item atual for o primeiro na lista.</li>
                                <li><strong>let l = $last</strong>: Armazena um valor booleano que é <code>true</code>
                                    se o item atual for o último na lista.</li>
                                <li><strong>let e = $even</strong>: Armazena um valor booleano que é <code>true</code>
                                    se o índice do item atual for par.</li>
                                <li><strong>let o = $odd</strong>: Armazena um valor booleano que é <code>true</code> se
                                    o índice do item atual for ímpar.</li>
                            </ul>


                            <h2>Uso em uma Página Angular</h2>
                            <p>Você pode usar o <code>*ngFor</code> desta forma no template de um componente Angular:
                            </p>
                            <pre>
                                <code>
                                    <ul>
                                        <li>{{aula33_Texto2}}</li>
                                        <li>{{aula33_texto}}</li>
                                    </ul>
                                </code>
                            </pre>

                            <h2>Função trackByName</h2>
                            <p>Para o trackBy funcionar, você precisa definir a função no seu componente:</p>
                            <pre>
                                <code>
                                    {{'trackByName(index: number, item: any): string {'}}
                                    return item.name;
                                    {{'}'}}
                                </code>
                            </pre>

                        </div>

                        <div class="container mt-2" *ngIf="aula33_bl_exibirExplicacaoAntigo">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Linha</th>
                                        <th>Trecho de Código</th>
                                        <th>Explicação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>&lt;ng-container *<strong>ngFor</strong>=</td>
                                        <td>Inicia a estrutura do <code>*ngFor</code> para iterar sobre os itens.</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>let <strong>item</strong> of <strong>items</strong>;</td>
                                        <td>Itera sobre a lista de <code>items</code>, atribuindo cada item à variável
                                            <code>item</code>.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>let <strong>i</strong> = <strong>index</strong>;</td>
                                        <td>Armazena o índice atual do loop na variável <code>i</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>let <strong>c</strong> = <strong>count</strong>;</td>
                                        <td>Armazena o número total de itens na variável <code>c</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>let <strong>f</strong> = <strong>first</strong>;</td>
                                        <td>Armazena um valor booleano que é <code>true</code> se o item atual for o
                                            primeiro na lista.</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>let <strong>l</strong> = <strong>last</strong>;</td>
                                        <td>Armazena um valor booleano que é <code>true</code> se o item atual for o
                                            último na lista.</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>let <strong>e</strong> = <strong>even</strong>;</td>
                                        <td>Armazena um valor booleano que é <code>true</code> se o índice do item atual
                                            for par.</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>let <strong>o</strong> = <strong>odd</strong>;</td>
                                        <td>Armazena um valor booleano que é <code>true</code> se o índice do item atual
                                            for ímpar.</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>trackBy : <strong>trackByFN</strong></td>
                                        <td>Utiliza a função <code>trackByFN</code> para rastrear itens por uma chave
                                            única, melhorando o desempenho do loop.</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>&gt;</td>
                                        <td>Fecha a tag <code>ng-container</code>.</td>
                                    </tr>
                                </tbody>
                            </table>



                        </div>





                        <hr />
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input #name type="text" class="form-control" id="nome" placeholder="Digite seu nome">
                        </div>
                        <br>
                        <button class="btn btn-primary" (click)="FUN_addNewName(name.value)">Adicionar</button>

                        <br />
                        <hr>



                        <h6 class="card-title">Nova versao</h6>

                        <div class="table-wrapper">
                            <div class="table-scroll">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col" class="text-center">Index</th>
                                            <th scope="col" class="text-center">Count</th>
                                            <th scope="col" class="text-center">First</th>
                                            <th scope="col" class="text-center">Last</th>
                                            <th scope="col" class="text-center">Even</th>
                                            <th scope="col" class="text-center">Odd</th>
                                            <th scope="col" class="text-center">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (item of items; track item.name;
                                        let i = $index;
                                        let c = $count;
                                        let f = $first;
                                        let l = $last;
                                        let e = $even;
                                        let o = $odd;
                                        ) {
                                        <tr>
                                            <td>{{ i }}</td>
                                            <td>{{ c }}</td>
                                            <td>{{ f }}</td>
                                            <td>{{ l }}</td>
                                            <td>{{ e }}</td>
                                            <td>{{ o }}</td>
                                            <td>{{ item.name }}</td>
                                        </tr>
                                        }



                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <hr />
                        <h6 class="card-title">Versão Antiga</h6>

                        <div class="table-wrapper">
                            <div class="table-scroll">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col" class="text-center">Index</th>
                                            <th scope="col" class="text-center">Count</th>
                                            <th scope="col" class="text-center">First</th>
                                            <th scope="col" class="text-center">Last</th>
                                            <th scope="col" class="text-center">Even</th>
                                            <th scope="col" class="text-center">Odd</th>
                                            <th scope="col" class="text-center">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <ng-container *ngFor="
                                        let item of items;
                                        let i = index;
                                        let c = count;
                                        let f = first;
                                        let l = last;
                                        let e = even;
                                        let o = odd;
                                        trackBy : trackByFN
                                        ">
                                            <tr>
                                                <td>{{ i }}</td>
                                                <td>{{ c }}</td>
                                                <td>{{ f }}</td>
                                                <td>{{ l }}</td>
                                                <td>{{ e }}</td>
                                                <td>{{ o }}</td>
                                                <td>{{ item.name }}</td>
                                            </tr>
                                        </ng-container>

                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <p class="card-text"> </p>
                    </div>
                    <div class="card-footer">
                        <p>Caminho componente: <strong>{{CaminhoComponente}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="Secao07_aula_34_item">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Secao07_aula_34_Body"
            aria-expanded="true" aria-controls="Secao07_aula_34_Body">
            {{'Aula34. @For - @empty'}}
        </button>
    </h2>
    <div id="Secao07_aula_34_Body" class="accordion-collapse collapse show" aria-labelledby="Secao07_aula_34_item"
        data-bs-parent="#Secao07_aulas">
        <div class="accordion-body">
            <div class="mt-2">
                <div class="card">
                    <div class="card-header text-center">
                        <strong> {{'34. @For - @empty'}} </strong>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-success" (click)="Fun_Aula34_FormaNova()">Forma Nova</button>&nbsp;
                        &nbsp;
                        <button class="btn btn-warning" (click)="FUN_Aula34_FormaAntiga()">Forma antiga</button>


                        <hr />

                        <h5 class="card-title">Input de dados</h5>
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input #Aula34name type="text" class="form-control" id="Aula34nome"
                                placeholder="Digite seu nome">
                        </div>
                        <br>
                        <button class="btn btn-primary"
                            (click)="FUN_Aula34_AdicionarItem(Aula34name.value)">Adicionar</button>


                        <hr />

                        <div *ngIf="aula34_ExibirFormaNova" id="div_Aula34_FormaNova">

                            <h5 class="card-title">Sintaxe mais atual</h5>
                            <p>Na sintaxe mais atual é usado o recurso <code>{{'@empty'}}</code> que exibe um
                                determinado trecho de código caso a lista/Array de dados esteja vazio, tornando o código menos verboso</p>

                            <p>Conforme exemplo abaixo</p>
                            <hr />


                            <br />

                            <div class="container mt-5">
                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Nome</th>
                                            <th>Data Cadastro</th>
                                            <th>Excluir</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (item of aula34_Nomes;
                                        track item.name;
                                        let index = $index;) {
                                        <tr>
                                            <td>{{item.name}}</td>
                                            <td>{{item.dataCadastro}}</td>
                                            <td> <button class="btn btn-danger"
                                                    (click)="FUN_Aula34_ExcluirItemLista(index)"> Excluir</button></td>
                                        </tr>
                                        }
                                        @empty {
                                        <tr>
                                            <td colspan="3">
                                                <div class="alert alert-warning" role="alert">
                                                    Não há registros cadastrados
                                                </div>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>

                                <hr />

                                <h5 class="text-center">Explicacao</h5>

                                <table class="table table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Linha do Código</th>
                                            <th class="text-center">Descrição</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>{{'@for (item of aula34_Nomes;'}}</td>
                                            <td>Inicia um loop <code>for</code> que itera sobre cada <code>item</code>
                                                no array <code>aula34_Nomes</code>.</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>track item.name;</td>
                                            <td>Utiliza o valor <code>name</code> de cada <code>item</code> como chave
                                                de rastreamento para ajudar na identificação e atualização eficiente dos
                                                itens.</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>{{'let index = $index;)'}}</td>
                                            <td>Atribui o índice atual da iteração à variável <code>index</code>.</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>&lt;tr&gt;</td>
                                            <td>Inicia uma nova linha na tabela.</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>&lt;td&gt;{{aula34_texto}}&lt;/td&gt;</td>
                                            <td>Exibe o valor da propriedade <code>name</code> do <code>item</code>
                                                atual.</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>&lt;td&gt;{{aula34_texto2}}&lt;/td&gt;</td>
                                            <td>Exibe o valor da propriedade <code>dataCadastro</code> do
                                                <code>item</code> atual.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>&lt;td&gt; {{aula34_texto3}}&lt;/td&gt;</td>
                                            <td>Cria um botão que, ao ser clicado, chama a função
                                                <code>FUN_Aula34_ExcluirItemLista</code> passando o <code>index</code>
                                                do <code>item</code> atual.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>&lt;/tr&gt;</td>
                                            <td>Fecha a linha da tabela.</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>{{'@empty {'}}</td>
                                            <td>Define o bloco de código a ser executado caso o array
                                                <code>aula34_Nomes</code> esteja vazio.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>&lt;tr&gt;</td>
                                            <td>Inicia uma nova linha na tabela para o caso de array vazio.</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>&lt;td colspan="3"&gt;&lt;/td&gt;</td>
                                            <td>Combina três colunas da tabela em uma única célula (usada quando não há
                                                registros cadastrados).</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>&lt;div class="alert alert-warning" role="alert"&gt; Não há registros
                                                cadastrados &lt;/div&gt;</td>
                                            <td>Cria um alerta visual com uma mensagem de aviso (usada para informar que
                                                não há registros cadastrados).</td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>&lt;/td&gt;&lt;/tr&gt;</td>
                                            <td>Fecha a linha da tabela para o caso de array vazio.</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>{{'}'}}</td>
                                            <td>Fecha o bloco de código <code>{{'@empty'}}</code>.</td>
                                        </tr>
                                    </tbody>
                                </table>





                            </div>

                        </div>

                        <div *ngIf="!aula34_ExibirFormaNova" id="div_Aula34_FormaAntiga">
                            <h5> Forma antiga</h5>
                            <p>Para realizar o mesmo comportamento na versão antiga o código se torna mais verboso necessitando adicionar os seguintes componentes</p>
                            <ul>
                                <li>ng-container: para vericar se o array contém registros ou não</li>
                                <li>ng-template: para comportar o else da verificação </li>
                                <li>ng-container: para ter o *ngFor para montar a lista </li>
                                </ul>

                            <ng-container *ngIf="aula34_Nomes.length ===0; else itensExist">
                                <div class="alert alert-warning" role="alert">
                                    Não há registros para exibir
                                </div>

                            </ng-container>
                            <ng-template #itensExist>

                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Nome</th>
                                            <th>Data Cadastro</th>
                                            <th>Excluir</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let item of aula34_Nomes; let i = index;">
                                            <tr>
                                                <th>{{item.name}}</th>
                                                <th>{{item.dataCadastro}}</th>
                                                <th><button class="btn btn-danger"
                                                        (click)="FUN_Aula34_ExcluirItemLista(i)"> <i
                                                            class="fas fa-trash"></i> Excluir </button></th>
                                            </tr>
                                        </ng-container>

                                    </tbody>

                                </table>


                            </ng-template>

                            <hr />
                            <h5>Explicacao</h5>

                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Linha do Código</th>
                                        <th>Descrição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>&lt;ng-container *ngIf="aula34_Nomes.length === 0; else itensExist"&gt;</td>
                                        <td>Verifica se o array <code>aula34_Nomes</code> está vazio. Se estiver vazio,
                                            executa o conteúdo dentro do <code>ng-container</code>; caso contrário,
                                            executa o template <code>itensExist</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>&lt;div class="alert alert-warning" role="alert"&gt;</td>
                                        <td>Cria um alerta visual com uma mensagem de aviso. Esta linha é executada se
                                            <code>aula34_Nomes</code> estiver vazio.</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Não há registros para exibir</td>
                                        <td>Texto exibido dentro do alerta quando o array <code>aula34_Nomes</code> está
                                            vazio.</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>&lt;/div&gt;</td>
                                        <td>Fecha a div do alerta.</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>&lt;/ng-container&gt;</td>
                                        <td>Fecha o <code>ng-container</code> utilizado para verificar se o array
                                            <code>aula34_Nomes</code> está vazio.</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>&lt;ng-template #itensExist&gt;</td>
                                        <td>Define um template com o identificador <code>itensExist</code> que será
                                            exibido se <code>aula34_Nomes</code> não estiver vazio.</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>&lt;table class="table table-striped table-bordered"&gt;</td>
                                        <td>Inicia uma tabela com as classes Bootstrap para estilo.</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>&lt;thead class="thead-dark"&gt;</td>
                                        <td>Define o cabeçalho da tabela com o estilo escuro.</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>&lt;tr&gt;</td>
                                        <td>Inicia uma linha no cabeçalho da tabela.</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>&lt;th&gt;Nome&lt;/th&gt;</td>
                                        <td>Define uma célula de cabeçalho para a coluna de nomes.</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>&lt;th&gt;Data Cadastro&lt;/th&gt;</td>
                                        <td>Define uma célula de cabeçalho para a coluna de data de cadastro.</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>&lt;th&gt;Excluir&lt;/th&gt;</td>
                                        <td>Define uma célula de cabeçalho para a coluna de exclusão.</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>&lt;/tr&gt;</td>
                                        <td>Fecha a linha do cabeçalho.</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>&lt;/thead&gt;</td>
                                        <td>Fecha o cabeçalho da tabela.</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>&lt;tbody&gt;</td>
                                        <td>Inicia o corpo da tabela.</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>&lt;ng-container *ngFor="let item of aula34_Nomes; let i = index;"&gt;</td>
                                        <td>Inicia um loop <code>ngFor</code> que itera sobre cada <code>item</code> no
                                            array <code>aula34_Nomes</code>, atribuindo o índice atual à variável
                                            <code>i</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>&lt;tr&gt;</td>
                                        <td>Inicia uma nova linha na tabela para cada item.</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>&lt;td&gt;{{aula34_texto}}&lt;/td&gt;</td>
                                        <td>Exibe o valor da propriedade <code>name</code> do <code>item</code> atual.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>&lt;td&gt;{{aula34_texto2}}&lt;/td&gt;</td>
                                        <td>Exibe o valor da propriedade <code>dataCadastro</code> do <code>item</code>
                                            atual.</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>&lt;td&gt;&lt;{{'button class="btn btn-danger" (click)="FUN_Aula34_ExcluirItemLista(i)"'}}&gt; &lt;{{'i class="fas fa-trash"'}}&gt;&lt;/i&gt; Excluir &lt;/button&gt;&lt;/td&gt;</td>
                                        <td>Cria um botão que, ao ser clicado, chama a função
                                            <code>FUN_Aula34_ExcluirItemLista</code> passando o índice <code>i</code> do
                                            <code>item</code> atual.</td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>&lt;/tr&gt;</td>
                                        <td>Fecha a linha da tabela para o item atual.</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>&lt;/ng-container&gt;</td>
                                        <td>Fecha o <code>ng-container</code> utilizado para o loop <code>ngFor</code>.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td>&lt;/tbody&gt;</td>
                                        <td>Fecha o corpo da tabela.</td>
                                    </tr>
                                    <tr>
                                        <td>24</td>
                                        <td>&lt;/table&gt;</td>
                                        <td>Fecha a tabela.</td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>&lt;/ng-template&gt;</td>
                                        <td>Fecha o template <code>#itensExist</code>.</td>
                                    </tr>
                                </tbody>
                            </table>




                        </div>


                        <p class="card-text"> </p>
                    </div>
                    <div class="card-footer">
                        <p>Caminho componente: <strong>{{CaminhoComponente}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
    <div class="accordion-item">
    <h2 class="accordion-header" id="Secao07_aula_XX_item">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Secao07_aula_XX_Body"
            aria-expanded="true" aria-controls="Secao07_aula_XX_Body">
            xxxxxxx
        </button>
    </h2>
    <div id="Secao07_aula_XX_Body" class="accordion-collapse collapse show" aria-labelledby="Secao07_aula_XX_item"
        data-bs-parent="#Secao07_aulas">
        <div class="accordion-body">
            <div class="mt-2">
                <div class="card">
                    <div class="card-header text-center">
                        <strong> XXXXXXXXX </strong>
                    </div>
                    <div class="card-body">



                        <h5 class="card-title">xxxxxxxxxxxxx</h5>


                        <hr />


                        <p class="card-text"> </p>
                    </div>
                    <div class="card-footer">
                        <p>Caminho componente: <strong>{{CaminhoComponente}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
-->