
<div class="mt-2">
    <div class="card">
        <div class="card-header text-center">
            <strong> 22. Text Interpolation</strong>
        </div>
        <div class="card-body">
            <p>{{descricao}}</p>
            
            <h5 class="card-title">Possibilidades </h5>
            <ul>
                <li>
                    Trazendo dados: {{name}} {{age}} anos
                </li>
                <li>
                    Fazendo conta: 10 + 2 = <strong>{{10 + 2}}</strong>
                </li>
                <li>
                    Operador Ternario = <strong>{{age < 18? 'Menor de idade': 'Maior de idade'}}</strong>
                </li>
            </ul>
            <p class="card-text"> </p>
        </div>
        <div class="card-footer">
            <p>Caminho componente: <strong>{{CaminhoComponente}}</strong></p>
        </div>
    </div>
</div>



